<%- include('../../partials/head') %> <%- include('../../partials/navbar') %>

<main class="container mt-2">
  <h1 class="h1">
    <%= author.name %>
  </h1>
  <p class="subtitle my-2">
    <b>Birth date:</b> <%= author.birthdate %>
  </p>
  <p class="my-2">
    <b>Bio:</b> <%= author.bio %>
  </p>

  <h4 class="h4 mt-4 mb-2">Books</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Book title</th>
        <th scope="col">Book published on</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach((book, idx)=> { %>
        <tr>
          <th scope="row"%>"><%= idx+1 %></th>
          <td><%= book.title %></td>
          <td><%= book.published_date %></td>
          <td>
            <a href="<%= `/books/${book.id}` %>" class="btn btn-primary btn-sm">View</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../../partials/footer') %>
